html{
	position: relative;
	min-height: 100%;
}

header{
	background: red;
	text-align: center;
	padding: 1%;
	margin-bottom: 4%;
}
.form-group{
  width:80%;
  padding:20px;
  border-radius: 6px;
  background-color: gray;
  background-image: url("../images/esche.png");
}
label{
  color: white;
}
h2{
  text-align: center;
  color:blue;
}

header h1{
	margin: 0px;
	padding: 0px;
	color: #F6F1F1;
}

form{
	margin-top: 4%;
	margin-bottom: 6%;
}
input[type="checkbox"]{
	width: 23px;
	display: inline;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

span{
	margin-left: 1%;
}

textarea.form-control{
	height: 100px;
}

footer {
	padding-top: 12px;
	background: #222;
	text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #F6F1F1;
}